html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wrapper {
  max-width: 420px;
  margin: 0 auto;
}

button {
  font-size: 2rem;
  border: 1px solid #333;
  cursor: pointer;
}

.operations button {
  background-color: orange;
  width: 100px;
}
.digits button {
  background-color: #ccc;
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}
